

  .mayCenter{
    text-align: center;
    display:flex;
    justify-content: center;
    flex-direction: column;

  }

  .padding{
    display:flex;
    padding: 1vw 10vw 0px 10vw;
  }

.flexProjects{
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
}

.flexContact{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
}

.contactList{
  text-align: center;
  list-style-type: none;
}
.mayAlignTextCenter{
  text-align:center;
}

.bigTextArea{
  height: 20%;
  width: 30%;
}

.form{
  justify-content: center;
}