body{
    background-color: #282C34;
    color:aliceblue;
}

.active {
    color: #F8004E !important;
    background-color:#282c34 !important;
    border-color: #F8004E #F8004E #282c34 !important;
    box-shadow: 0px 5px 0px 5px #282c34 inset, 0px -5px 5px 0px #F8004E inset !important;
  }
  
  .nav-link{
    color:#31E1BD;
  }

  .nav-link:hover{
    color:#FFC12E;
  }

  .nav{
      background-color: #282C34;
  }

  .nav-tabs{
    border-bottom: 1px solid #F8004E;
  }
  .nav-link:hover {
    border-color: #F8004E #F8004E #282c34 !important;
    /* box-shadow: 0px 5px 0px 5px #282c34 inset, 0px -5px 5px 0px #FFC12E inset;  */
    isolation: isolate;
}

.contactButton{
  background-color:#262A31;
  border-style: solid;
  border-width: 1px;
  border-color: #31E1BD;
}